# Frontend Config
VITE_API_URL=http://localhost:8000/api/v1

# Backend Config
PROJECT_NAME="AI Government Exam OS"
API_V1_STR="/api/v1"

# Database
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=exam_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/exam_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Authentication (For future milestone)
SECRET_KEY=supersecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=30
